@import url('https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
    margin: 0;
    width: 550px;
    height: 550px;
    background: #1F2937;
    margin-left: 52px;
    font-family: Inter;
}

h1 {
    font-family: Karla;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-top: 115px;
}

h2 {
    font-weight: 400;
    font-size: 20px;
    color: #D5D4D8; 
    margin-top: 0;
    margin-bottom: 51px;
}

button {
    font-family: Inter;
    font-size: 16px;
    background: #10B981;
    color: #FFFFFF; 
    width: 191px;
    height: 42px;
    border-radius: 6px;
    border: none;
    margin-bottom: 35px;
}

hr {
    border: 1px solid #2F3E53;
}

.container {
    display: flex;
    flex-direction: row;
}

.container > div {
    margin-top: 35px;
    background: #273549;
    width: 211px;
    height: 39px;
    margin-inline-end: 24px;
    border-radius: 6px;
}

.pass-text {
    text-align: center;
    line-height: 32px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #55F991;
}

.pass-text:hover {
    color: #FFFFFF;
}
